$app-spacing: 15px;

.app-container {
	max-width: 840px;
	margin: 0 auto;
	padding: $app-spacing ($app-spacing * 2);
}

.header {
	h2 {
		margin: $app-spacing * 2 0;
		font-weight: 300;
		text-align: center;
		letter-spacing: 9px;
		text-transform: uppercase;
	}
}

.outs-input {
	margin-bottom: $app-spacing * 2;
	text-align: center;

	label {
		margin-right: $app-spacing;
	}

	input {
		padding: 2px;
		width: 120px;
		background: none;
		box-shadow: 0 1px 0 0 #D8E1E8;
		outline: none;
		border: 0;
		color: inherit;
		font-family: inherit;
		font-size: 16px;
	}
}

.outs-wrapper {
	display: grid;
	grid-gap: $app-spacing;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.outs-card {
	position: relative;
	padding: $app-spacing;
	background: white;
	color: #868686;
	box-shadow: 0 3px 10px 0 rgba(25, 25, 25, 0.35);
	border-radius: 4px;
	text-align: center;
	transition: 0.4s ease-out;

	&::before {
		content: '';
		position: absolute;
		display: block;
		height: 3px;
		bottom: 0;
		left: 0;
		width: 100%;
		border-radius: 4px;
		background: linear-gradient(to right, rgb(0, 210, 255), rgb(58, 123, 213));
	}

	&:hover {
		transform: translateY(-4px);
	}

	h4 {
		font-weight: 400;
		text-transform: uppercase;
		color: #464545;
		letter-spacing: 1px;
		margin-bottom: 2px;
	}

	&__cards-remaining {
		display: block;
		margin-bottom: 12px;
		font-size: 12px;
		text-transform: uppercase;
	}

	&__stats-container {
		text-align: left;

		h5 {
			font-size: 15px;
			text-transform: uppercase;
		}
	}

	&__stats {
		margin-bottom: $app-spacing;

		p {
			font-size: 14px;
			text-transform: uppercase;
			margin: 0;
		}

		span {
			font-weight: bold;
		}
	}
}